<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/"
          role="button"
          ><i class="fa fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="https://twitter.com/home?lang=en"
          role="button"
          ><i class="fa fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="https://www.google.com/"
          role="button"
          ><i class="fa fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/"
          role="button"
          ><i class="fa fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/feed/"
          role="button"
          ><i class="fa fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/sharishankar322"
          role="button"
          ><i class="fa fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <li class="nav-item">
              <a class="nav-link"  routerLink="about">About</a>
            </li>
          </h6>
          <p>
              Modern Driving School have been serving Kerala with its 8 branches and completed 5k+ students in last 10 years. We have a team of experienced and certified trainers who will help you from the start to end of a driving lesson. We are a greatly entrusted pioneer of legacy in the field of building qualified drivers and operators in the South of India.
          </p>
        </div>
        <!-- Grid column -->

       
       
       
     
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          
          <p>
            <a href="https://mvd.kerala.gov.in/en/driving-schools-0" class="text-reset">MVD</a>
          </p>
          <p>
            <a href="ssgcell.mvd@kerala.gov.in" class="text-reset">Online Services</a>
          </p>
          <p>
            <a href="tcoffice.mvd@kerala.gov.in" class="text-reset">Public Relation Officer</a>
          </p>
          <p>
              <a href="http://theory-tester.com/" class="text-reset">Theory Tester</a>
          </p>
          <p>
              <a href="complaints.mvd.kerala.gov.in" class="text-reset">complaints</a>
            </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i>PMJ Complex, <br>&nbsp;&nbsp;&nbsp;&nbsp;Changanacherry,<br>&nbsp;&nbsp;&nbsp;&nbsp;Kottayam</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            morderndriving@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91 9447856920</p>
          <p><i class="fas fa-print me-3"></i> +91 9894267986</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <!-- Section: CTA -->
  <section class="">
      <p class="d-flex justify-content-center align-items-center">
        <span class="me-3">Register for free</span>
        <button mdbRipple type="button" class="btn btn-outline-light btn-rounded"><a routerLink="pages/register">
          Sign up! </a>
        </button>
      </p>
    </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.5);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="hari">hari</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->