<div class="intro">
    <h1>Modern Driving School</h1>
    <p>A perfect driving school with latest vehicles.</p>
    <button>About Us</button>
  </div>
  <div class="achievements">
    <div class="work">
      <i class="fas fa-female fa-border fa-3x"></i>
      <p class="work-heading">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 00 000+<br>
        HAPPY STUDENTS</p>
      <p class="work-text">We have successfully transformed 19 00 000+ beginners into skilled and confident drivers.</p>
    </div>
    <div class="work">
      <i class="fas fa-skiing"></i>
      <p class="work-heading">
        &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 500+<br>
        &nbsp;&nbsp;&nbsp;&nbsp; EXPERT TRAINERS</p>
      <p class="work-text">
        
        Get driving training from our team of driving professionals that has 1 500+ expert male and female trainers.</p>
    </div>
    <div class="work">
      <i class="fas fa-ethernet"></i>
      <p class="work-heading">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;500+ <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRAINING SCHOOLS</p>
      <p class="work-text">We have made quality driving training accessible with our widespread network of 500+ Training Schools covering 240+ Cities.</p>
    </div>
  </div>
  <div class="about-me">
    <div class="about-me-text">
      <h2>About Me</h2>
      <p>Modern Driving School has been a pioneer in the field of driving training since 2016. Driven by world-class technology & training curriculum, Modern Suzuki Driving School has elevated and redefined the standards of driving training in the country.</p>
    </div>
    <img src="https://thumbs.dreamstime.com/b/driving-school-advertising-logo-emblem-template-education-driving-school-advertising-logo-emblem-template-car-driver-202625581.jpg" alt="me">
  </div>