
<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/free-photo/beautiful-young-latin-woman-driving-her-brand-new-car-showing-her-thumb-up_231208-7751.jpg?w=1060&t=st=1677598846~exp=1677599446~hmac=31a28fb4454705437a60a68c8660010d48e25543cde6cf79cbe1412c5ad1657c" class="d-block w-1000" alt="..." width="1600"height="650">
    </div>
    
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/driving-instructor-showing-vehicle-dashboard-buttons-student-taking-driving-lessons_342744-691.jpg?w=1060&t=st=1677598533~exp=1677599133~hmac=0138339342b7f8f41596885a35decb5377bd1583b073c2efcf952fa5f9e7141f" width="1600px"height="650">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/free-photo/person-taking-driver-s-license-exam_23-2149891398.jpg?w=1060&t=st=1677596863~exp=1677597463~hmac=03c882a4f7740f63f986cf5a0981e1b67e6254ef4c211cb529a0420500e1afbf" class="d-block w-1000" alt="..." width="1600"height="650">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  
</div>

   
  
  



<section>
  <div class="b2">
<br><br>

<div class="auto-container">
  <div class="sec-title centred">
    <h2>Valuable Packages &amp; Offers</h2>
  </div><br><br>


<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
        <div class="pricing-block-one  wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="pricing-table">
            <div class="table-header">
              <h2><span class="symble">₹</span>4500<span class="text"></span><span class="course">per Course</span>
              </h2>
            </div>
            <div class="package-box">
              <h4>Basic Package</h4>
              <p>Righteous indignation &amp; well dislike</p>
            </div>
            <div class="table-content">
              <ul class="feature-list clearfix">
                <li>Theory<span>4 Lessons</span></li>
                <li>Practical<span>16 Lessons</span></li>
                <li>20 Days<span>1 hr/day</span></li>
                <li>Car Type<span>Basic Model</span></li>
              </ul>
              <div class="btn-box">
                <a href="" class="theme-btn btn-two">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md">

      <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
        <div class="pricing-block-one active-block wow fadeInUp animated animated" data-wow-delay="300ms"
          data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="pricing-table">
            <div class="table-header">
              <span class="popular">popular</span>
              <h2><span class="symble">₹</span>10000<span class="text"></span><span class="course">per Course</span>
              </h2>
            </div>
            <div class="package-box">
              <h4>Ultra Package</h4>
              <p>Welcomed and every pain avoided</p>
            </div>
            <div class="table-content">
              <ul class="feature-list clearfix">
                <li>Theory<span>4 Lessons</span></li>
                <li>Practical<span>16 Lessons</span></li>
                <li>20 Days<span>1 hr/day</span></li>
                <li>Car Type<span>Basic Model</span></li>
                <li>Free Pickup<span>Yes</span></li>
              </ul>
              <div class="btn-box">
                <a href="" class="theme-btn btn-two">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="col-md">

      <div class="col-lg-4 col-md-6 col-sm-12 pricing-block">
        <div class="pricing-block-one  wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms"
          style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="pricing-table">
            <div class="table-header">
              <h2><span class="symble">₹</span>7800<span class="text"></span><span class="course">per Course</span>
              </h2>
            </div>
            <div class="package-box">
              <h4>Premium Package</h4>
              <p>Light to find fault with who chooses</p>
            </div>
            <div class="table-content">
              <ul class="feature-list clearfix">
                <li>Theory<span>4 Lessons</span></li>
                <li>Practical<span>16 Lessons</span></li>
                <li>20 Days<span>1 hr/day</span></li>
                <li>Car Type<span>Basic Model</span></li>
              </ul>
              <div class="btn-box">
                <a href="" class="theme-btn btn-two">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</div>
<section>
  
</section>

<br>


<br>

<div class="color">
  <br>
  
    
    <div class="text">
    <h5>Reviews & Testimonials</h5>
  </div>
    <div class="b1">
  <div class="body">
    <br><br>
    <h1>Ratings </h1>
    <br><br>
    <div class="rating">

          <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
          <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
          <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
          <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
          <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
    </div><br><br>
    <p>Trust Score 4.5 (Based on 2,500 reviews)</p>
  </div>
  <br><br><br><br><br>
  <div class="button1">
  <button type="button" class="btn btn-secondary btn-lg" routerLink="review">&nbsp; View More &nbsp;</button>

</div>

  <br><br><br><br><br><br><br><br><br><br><br><br>