

<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="wrapper">
      <div class="row no-gutters mb-5">
        <div class="col-md-7">
          <div class="contact-wrap w-100 p-md-5 p-4">

            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
              <h2>Slot Schedule</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="name">Student ID</label>
                    <input type="text" [(ngModel)]="sid" class="form-control" name="sid" id="sid"
                      placeholder="Enter Your Student Id">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="email">Student Name</label>
                    <input type="email" [(ngModel)]="sname" class="form-control" name="sname" id="sname"
                      placeholder="Enter Your Student name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="email">Category</label>
                    <input type="email" [(ngModel)]="cat" class="form-control" name="category" id="category"
                      placeholder="Enter Your Category">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="email">Tutor ID</label>
                    <input type="email" [(ngModel)]="tid" class="form-control" name="tid" id="tid"
                      placeholder="Enter Your Tutor Id">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="label" for="email">Tutor Name</label>
                    <input type="email" [(ngModel)]="tname" class="form-control" name="ntame" id="tname"
                      placeholder="Enter Your Tutor Name">
                  </div>
                </div>

                
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <br>
                    <button class="btn btn-danger" (click)="slot()">Send</button>
                  </div>
                </div>
              
          
    


















<!-- <button type="button" class="btn btn-danger text-center" (click)="signout()">LogOut</button> -->





